.sectionplayer {
  max-width: 1000px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

.title {
  text-align: center;
  top: 25vh;
  position: absolute;
}
.sectionplayer form {
  position: absolute;
  height: 275px;
  top: 51vh;
}
.sectionplayer form button {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 175px;
  border-radius: 50%;
  border: 0px solid white;
  background: #4f9d69;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */
  letter-spacing: -0.03em;

  color: #000000;
}
.sectionplayer input {
  max-width: 310px;
  width: 82vw;
}
.retour {
  position: absolute;
  top: 120px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  /* identical to box height */
  letter-spacing: -0.03em;
  height: 27px;
}
.good {
  color: rgba(60, 21, 24, 0.5);
}
.bad {
  color: #ff0606;
}
.retour p {
  margin-left: 11px;
}
.none {
  display: none;
}
.exclamationmark {
  border: solid 1px red;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 26px;
  vertical-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.03em;
}
