@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  overflow: hidden;
}
h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.03em;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input:focus {
  outline: 0px;
}
input {
  height: 83px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  border: solid 0px;
  background: #bcffdb;
  border-radius: 28px;
  padding-left: 25px;
  top: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}
.tochange {
  color: rgba(60, 21, 24, 0.5);
}
